.mf-form {
  display: block;
  margin: 50px auto;
  max-width: 400px;
  font-family: sans-serif;
  font-size: 14px;

  &-error {
    color: red;
    margin-bottom: 5px;
  }

  &-input {
    margin-bottom: 15px;
  }
  input {
    width: 100%;
    padding: 20px 15px;
    border-radius: 3px;
    border: 1px solid $black;
    outline: none;
    box-sizing: border-box;
  }
  &-submit { 
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    border-radius: 30px;
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    padding: 20px 60px;
    cursor: pointer;
    position: relative;
    &:disabled,
    &[disabled] {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  &-loader {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 5px solid $white; /* Light grey */
    border-top: 5px solid $black; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
