.mf-form {
  display: block;
  margin: 50px auto;
  max-width: 400px;
  font-family: sans-serif;
  font-size: 14px;
}

.mf-form-error {
  color: red;
  margin-bottom: 5px;
}

.mf-form-input {
  margin-bottom: 15px;
}

.mf-form input {
  width: 100%;
  padding: 20px 15px;
  border-radius: 3px;
  border: 1px solid #000;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mf-form-submit {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 20px 60px;
  cursor: pointer;
  position: relative;
}

.mf-form-submit:disabled, .mf-form-submit[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.mf-form-loader {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border: 5px solid #fff;
  /* Light grey */
  border-top: 5px solid #000;
  /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */